@font-face {
  font-family: Manrope;
  font-weight: 400;
  font-style: normal;
  src: local("Arimo"),
    url("./../resources/fonts/Arimo-Regular.woff2") format('woff2');
  font-display: swap;
}